body,html
  font 12px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif

.clearfix
  zoom 1
  &:after, &:before
    content ''
    display table
  &:after
    clear both
    overflow hidden
.fl,
.fr
  display inline
.fl
  float left
.fr
  float right


a,
a:hover, a:visited, a:link, a:active
  text-decoration none
a
  transition color .2s

@media screen and (max-width: 1400px)
  .wrapper
    width 980px

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-1px
    &::after
      transform scaleY(0.7)
      -webkit-transform scaleY(0.7)
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-1px
    &::after
      transform scaleY(0.5)
      -webkit-transform scaleY(0.5)
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
  .border-1px
    &::after
      transform scaleY(0.33)
      -webkit-transform scaleY(0.33)
